<h1>Greetings, <%= @name %></h1>
<p>The time now <%= formatted_time(@time) %></p>
<p>This page has been viewed <%= @times_displayed %>

  <p><%= link_to "Google", "http://www.google.com" %>
  <p><%= link_to "Goodbye", project_intakeform_form_path %>
